#prostylee-wrapper {
  width: 100%;
  display: block;
  #prostylee-header-wrapper {
    background-color: #451E8C;
    height: auto;
    #top-navigation {
      width: 100%;
      height: auto;
      display: block;
      background-color: #0a5b88;
      #top-bar {
        background-color: #451E8C;
        .site-title {
          display: none;
        }
      }
    }
  }
}
.component {
  margin: 2em auto;
  text-align: center;
}
.choose-us-section {
  line-height: 2em;
  .inner-choose-us {
    .question-text {
      color: #823FFD;
    }
    .heading {
      font-size:1.8rem;
      color: #333333;
    }
    .description {
      color: #8B9399;
    }
  }
  .benefits {
    li {
      text-align: left;
      border: 0;
      padding-left: 0.2em;
      color: #333333;
      font-weight: 500;
      .icon {
        margin-right: 0.5em;
      }
    }
  }
}
.box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    vertical-align: middle;
    height: auto;
    width: 100%;
  }
}
#main-wrapper {
  #hot-features {
    width: 100%;
    display: block;
    background-color: #FAF8FE;
  }
  #brands-partners {
    width: 100%;
    display: flex;
    .partners {
      clear: both;
      .card {
        float: left;
        width: 25%;
        border: none;
        img {
          width: 6em;
          height: 3.2em;
          vertical-align: middle;
        }
      }
    }
  }
}
#prostylee-footer-wrapper {
  a {
    text-decoration: none;
  }
  background-color: black;
  #feature-footer {
    .container {

    }
  }
  #bottom-widgets {
    .footer-widget {
      margin-bottom: 1.5em;
      .widget-header{
        text-transform: uppercase;
        color: #fff;
        font-size: 0.9rem;
      }
      ul {
        list-style: none;
      }
      .list-group {
        .list-group-item {
          background-color: transparent;
          padding: 0.2em 0;
          a {
            color: #8B9399;
            font-size: 0.95rem;
          }
        }
      }
      .socials {
        display: block;
        list-style: none;
        li {
          float: left;
          a {
            color: #fff;
            display: block;
            padding: 0.5rem;
            .fab {
              font-size: 1.2rem;
            }
          }
          &:first-child a {
            padding-left: 0;
          }
        }
      }
    }
    .contact-widget {
      .address-box {
        p {
          line-height: 1.5rem;
          color: #8B9399;
          font-size: 0.9rem;
          margin-bottom: 0.4em;
        }
        .fas {
          display: inline-block;
          margin-right: 0.3em;
          font-size: 0.7rem;
        }
    }
    }
    .about-widget {
      #footer-logo {
        padding: 2em 0;
        box-sizing: border-box;
        img {
          margin: 0 auto;
          vertical-align: middle;
          display: block;
        }
      }
      .description {
        color: #8B9399;
      }
    }
  }
  #copyright-mobile {
    display: block;
    overflow: hidden;
    text-align: center;
    color: #8B9399;
    font-size: 0.9rem;
    padding: 0.5em 0;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 480px){
  #prostylee-wrapper {
    #prostylee-header-wrapper {
      #top-navigation {
        #top-bar {
          padding-top: 1em;
          padding-bottom: 1em;
          .navbar-toggler {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0.5em;
            &:focus {
              border: 0;

            }
          }
        }
        .container {
          #navbarCollapse {
            background-color: black;
          }
          .btn-download-app {
            float: right;
            background-color: #823FFD;
            border:0;
          }
          display: block;
          .navbar-toggler {
            float: left;
            .toggle-icon {
              color: #fff;
            }
          }
          .site-branding {
            display: inline-block;
            position: relative;
          }
        }
      }
      #feature-wrapper {
        padding: 1em;
        box-sizing: border-box;
        .introduction {
          text-align: center;
          margin-bottom: 3em;
          h2.text-title {
            font-weight: bold;
            font-size: 2.8rem;
            color: #fff;
            line-height: 3.8rem;
            padding: 0.3em 0;
          }
          .text-focus {
            color: #F94F7E;
          }
          .description {
            color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            margin-bottom: 2em;
          }
        }
        .banners {
          justify-content: center;
          align-items: center;
          display: inline-grid;
          background: url("http://192.168.1.13:8080/wordpress/prostylee-landing-page/wp-content/themes/prostylee-landing-page/assets/images/feature_circle.png") top center no-repeat;
          padding-bottom: 2em;
        }
      }
    }
    #prostylee-footer-wrapper {
      .copyright {
        display: none;
      }
    }
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

